<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1> Users </h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th> Id </th>
            <th> Name</th>
            <th> Surname</th>
            <th> Age</th>
            <th> edit/delete </th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.getId()}">...</td>
            <td th:text="${user.getName()}">...</td>
            <td th:text="${user.getSurname()}">...</td>
            <td th:text="${user.getAge()}">...</td>
            <td >  <a th:href="@{admin/show(id = ${user.getId()})}" >edit/delete</a> </td>
        </tr>
    </table>
    <!--  <th:block th:each="msg : ${messages}">-->
    <!--    <h1 th:text="${msg}"></h1>-->
    <!--  </th:block>-->
</div>
<hr/>


<a href="/admin/new">Create new person</a>
<br>
<hr/>
<div th:replace="logout :: logout"></div>

</body>
</html>